<div class="sidebar">
  <div class="widget">
    <a class="feed alignright" title="RSS 2.0 feed for posts" rel="alternate" href="https://feeds.feedburner.com/richard-huang">
      <img src="/img/rss-button.gif" alt="latest posts" title="latest posts">
    </a>
  </div>
  <div class="widget">
    <div class="title">About Me</div>
    <div class="clearfix">
      <p>I'm a Ruby/iOS freelancer who has a strong focus on code quality, server performance and scalability.</p>
      <a class="pull-right" href="https://huangzhimin.com">more →</a>
    </div>
  </div>
  <div class="widget">
    <a href="https://coderwall.com/flyerhzm"><img alt="Endorse flyerhzm on Coderwall" src="https://api.coderwall.com/flyerhzm/endorsecount.png" /></a>
  </div>
  <div class="widget">
    <iframe src="https://githubbadge.appspot.com/badge/flyerhzm" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
  </div>
  <div class="widget">
    <h3 class="title">Tags</h3>
    <div id="tag-cloud">
      {{ site | tag_cloud }}
    </div>
  </div>
</div>
